.loader {
  border-top-color: #3498db;
  border-left-color: #3498db;
  border-bottom-color: transparent;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
